DB_DSN="host=localhost user=gorm password=gorm dbname=gorm port=5920 sslmode=disable TimeZone=Asia/Shanghai"
REDIS_ADDR="localhost:6379"
REDIS_PASSWORD=""
REDIS_DB="0"
ELASTICSEARCH_URL="http://localhost:9200"
RABBITMQ_URL="amqp://guest:guest@localhost:5672/"
GRPC_PORT=":50051"
GIN_PORT=":8080"
